<%- include("src/header.ejs", { bot, user, path, pageName: 'Panel'}) %>
<% 

let server;
if(userVoice) {
  if (!servers.has(userVoice.guild.id)) {
      servers.set(userVoice.guild.id, {
          queue: [],
          currentVideo: {
              url: "",
              title: "Rien pour le moment."
          },
          dispatcher: null,
          connection: null,
          cooldown: false,
      });
  }
  server = servers.get(userVoice.guild.id);
}

%> 

<main role="main">
  <section class="jumbotron">
<%- userVoice ? `<h1 class="userVoice">L'utilisateur ${user.username} est connecté au salon ${userVoice.channel.name} sur le serveur ${userVoice.guild.name}</h1>` : "<h1>Vous n'êtes dans aucun salon vocale.</h1>" -%>
<form id="dispatcher">
  <input type="button" class="dispatcher-btn skipdown" id="skipdown">
  <input type="button" id="dispatcher-btn" class="dispatcher-btn <%- server ? (server.dispatcher ? (server.dispatcher.state.status === "paused" ? "btn-pause\"" : (server.dispatcher.state.status === "playing" ? "btn-play\"" : "btn-pause\" disabled") ) : "btn-pause\" disabled") : "btn-pause\" disabled" -%> id="pause-btn" onclick="pauseMusic()">
  <input type="button" class="dispatcher-btn skipup" id="skipup">
</form>
<p id="alert"></p>
  </section>
</main>

<%- include("src/footer.ejs", { footer: false }) %>